@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/street-image.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

body button:hover, .container a{
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    padding-left: 4%;
    padding-right: 1%;
    backdrop-filter: blur(70px);
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container img{
    width: 4vw;
    padding: 3%;
}

nav .container a{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 3%;
}


nav .container:nth-child(1){
    flex-basis: 20vw;
}
nav .container:nth-child(2){
    flex-basis: 40vw;
    align-self: flex-end;
    justify-self: flex-end;
}

nav .container:nth-child(3){
    background-color: rgb(255, 244, 170);
    flex-basis: 24vw;
    padding-left: 0vw;
    border: 1px solid rgb(254, 241, 159);
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
}

nav .container:nth-child(3) img{
    width: 3vw;
}
nav .container:nth-child(3) img:hover{
    cursor: pointer;
}
nav .container:nth-child(3) input{
    padding: 4%;
    background-color: rgb(254, 241, 159);
    border: 1px solid rgb(254, 241, 159);
    border-radius: 16px;
    color: rgb(62, 62, 62);
    align-self: flex-start;
    padding-left: 0%;
    width: 10vw;
}
nav .container:nth-child(3) input::placeholder{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
nav .container:nth-child(3) button{
    padding: 2%;
    background-color: white;
    border: 1px solid rgb(185, 173, 95);
    border-radius: 6px;
}

header {
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 10%;
    padding-top: 5%;
    padding-right: 50%;
    padding-left: 13%;
}

header h1{
    font-size: 70px;
}

header p{
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 8%;
}

header button{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid rgb(254, 241, 159);
    border-radius: 8px;
    background-color: rgb(254, 241, 159);
    font-size: 15px;
}

